@charset "utf-8";

/*-----------------------------

　リセットCSS + サイト共通設定

------------------------------*/

/* 全ての要素に対する余白初期値設定 */
body,
h1,h2,h3,h4,h5,h6,
p,ul,ol,dl,dt,dd,li,
table,th,td,
form,select,option,input
address,pre,strong,em,iframe,img{
	margin:0;
	padding:0;
	font-size:100%;
	border:0;
}

/* デフォルト文字設定 */
body{
	color:#666666;
	font-family:sans-serif;
	font-size:13px;
	*font-size:small;
	line-height:1.4;
}

/* リストマーカーを非表示 */
ul,ol{
	list-style-type:none;
}

/* テーブルセルのボーダーの設定 */ 
table {
	border-collapse: collapse; 
	border-spacing: 0;
}

/* 画像とフォームパーツの上下位置をテキストの真ん中に */
img, input, select, textarea { 
	vertical-align: middle;
}


/* デフォルトリンク色の設定 */
a{
	color:#00C4AB;
}

a:hover{
	color:#CCE739;
}

/* 画像リンクの設定 */
a img{
	opacity:1;
	filter: alpha(opacity=100);
}

a:hover img{
	opacity:0.7;
	filter: alpha(opacity=75);
}

/*	clearfix
------------------------------*/
.clearfix:after {/*for modern browser*/
   content: "";
   display: block;
   clear: both;
}

* html .clearfix { zoom:1; } /*for IE6*/
*:first-child+html .clearfix { zoom:1; } /*for IE7*/




/*--------------------------

　レイアウト

---------------------------*/
body{
	border-top:#cce739 5px solid;
}

/* ヘッダー
---------------------------*/
#header{
	padding:10px 0;
	border-top:#00c4ab 5px solid;
	background:url(../img/bg_header.png) #e6e6e6;
}

#header .inner{
	width:940px;
	margin:0 auto;
}

/* グローバルナビゲーション
---------------------------*/
#gnav{
	background:#00c4ab;
}

#gnav ul{
	width:940px;
	margin:0 auto;
	overflow:hidden;
}

#gnav li{
	float:left;
}

#gnav a{
	display:block;
	width:157px;
	height:40px;
	background:url(../img/gnav.gif) no-repeat;
	text-indent:-9999px;
	color:#fff;
}

#gnav .gnav01 a,
#gnav .gnav06 a{
	width:156px;
}

#gnav .gnav01 a { background-position:0 0; }
#gnav .gnav02 a { background-position:-156px 0; }
#gnav .gnav03 a { background-position:-313px 0; }
#gnav .gnav04 a { background-position:-470px 0; }
#gnav .gnav05 a { background-position:-627px 0; }
#gnav .gnav06 a { background-position:-784px 0; }

#gnav .gnav01 a:hover { background-position:0 -40px; }
#gnav .gnav02 a:hover { background-position:-156px -40px; }
#gnav .gnav03 a:hover { background-position:-313px -40px; }
#gnav .gnav04 a:hover { background-position:-470px -40px; }
#gnav .gnav05 a:hover { background-position:-627px -40px; }
#gnav .gnav06 a:hover { background-position:-784px -40px; }

.home #gnav .gnav01 a {background-position:0 -80px; }
.about #gnav .gnav02 a {background-position:-156px -80px; }
.coding #gnav .gnav03 a {background-position:-313px -80px; }
.lesson #gnav .gnav04 a {background-position:-470px -80px; }
.faq #gnav .gnav05 a {background-position:-627px -80px; }
.inquiry #gnav .gnav06 a {background-position:-784px -80px; }


/* コンテンツエリア
---------------------------*/
#contents{
	width:900px;
	padding:10px 20px 0 20px;
	margin:0 auto;
	border-left:#e6e6e6 1px solid;
	border-right:#e6e6e6 1px solid;
}

/* パンくず
---------------------------*/
#pankuzu{
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom:#ccc 1px dotted;
}

#pankuzu li{
	display:inline;
	font-size:83%;
}

#pankuzu a{
	padding-right:15px;
	background:url(../img/ico_arw01.gif) right center no-repeat;
}

/* メインコンテンツ
---------------------------*/
#main{
	width:680px;
	margin-bottom:40px;
	float:right;
} 

/* サイドバー
---------------------------*/
#side{
	width:180px;
	margin-bottom:40px;
	float:left;
}

/* フッター
---------------------------*/
/* ページトップ */
.pagetop{
	clear:both;
}

#footer{
	padding:10px 0;
	background:#e6e6e6;
}

#footer .inner{
	width:940px;
	margin:0 auto;
}

#footer li{
	display:inline;
}

#footer a{
	padding:0 10px;
	background:url(../img/ico_arw01.gif) left center no-repeat;
	color:#666;
	text-decoration:none;
}

#footer a:hover{
	text-decoration:underline;
}


/*--------------------------

　共有スタイル

---------------------------*/
